body {
	background: #f0ece2;
	font-family: "Merriweather";
	font-size:20px;
	font-weight: 500;
	line-height: 1.4;
	color: #625757;
}
h1, h2, h3 {
	font-family: "Charmonman";
	letter-spacing:0.1em ;
	color: #596e79;
}
h1 {
	font-size: 60px;
	font-weight: 900;
	line-height: 2;
}

h2{
	font-size: 40px;
	font-weight: 500;
	line-height: 1.6;
}

h3{
	font-size: 30px;
	font-weight: 500;
	line-height: 1.4;
	text-decoration: underline;
}

a{
	color: #9d8f8f;
	text-decoration: none;
}

a:hover {
	color: #625757;
	text-decoration: underline;
}